{% extends 'home.html' %}
{% load static %}
{% block title %}
<title>Eshop | Username Section</title>
{% endblock %}
{% block content %}
<div class="container mt-5 ">
    <h1 class="background text-light text-center rounded">Forget Password Section </h1> 
    {% for i in messages %}
    <div class="alert alert-danger alert-dismissible fade show p-3 mt-2 text-center" role="alert">
        {{i}}
        <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <form method="POST" action="">
      {% csrf_token %}
        <div style="margin-left: 160px;">
            <div class="mb-3 row  ">
                <div class="col-sm-10">
                    <label class="form-label">Enter Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter Username To Get OTP">
                    <button type="submit" class=" background text-light btn mybtn w-100 mt-3">Submit Username</button>
                </div>
            </div>
            <!-- <div class="mb-3 row">

                <div class="col-sm-10">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                   
                    <div class="d-flex justify-content-between">
                        <a  class="text-decoration-none" href="/forget-username/">Forget Password ?</a>
                        <a class="text-decoration-none" href="/signup/">New User? Create a Free Account</a>
                    </div>
                </div>
            </div> -->
           
        </div>
        
    </form>

</div>

{% endblock %}