{% extends 'home.html' %}
{% load static %}
{% block title %}
<title>Eshop | Add To Wishlist Section</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="background text-center text-light rounded my-2"> Products On Your Wishlist Section</h1>
    <div class="row">
        <table class="table  table-bordered table-striped table-hover clu">

            <tr>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Product Maincategory</th>
                <th>Product Subcategory</th>
                <th>Product Brand</th>
                <th>Product Color </th>
                <th>Product Size</th>
                <th>Product Baseprice</th>
                <th>Product Discount</th>
                <th>Product Final Price</th>
                <th>Remove From The Wishlist</th>
                <th> Buy Now</th>
            </tr>

            {% for i in wishlist %}

            <tr>
                <td><img src="{{i.product.pic1.url}}" height="100px" alt=""></td>
                <td>{{i.product.name}}</td>         
                <td>{{i.product.maincategory}}</td>
                <td>{{i.product.subcategory}}</td>
                <td>{{i.product.brand}}</td>
                <td>{{i.product.color}}</td>
                <td>{{i.product.size}}</td>
                <td>{{i.product.baseprice}}</td>
                <td>{{i.product.discount}}%</td>
                <td>{{i.product.finalprice}}</td>                                   
                <td><a href="/delete-Wishlist/{{i.product.id}}"><i class="bi bi-trash fs-3"></i></a></td>
                <td><a href="/single/{{i.product.id}}"><i class="bi bi-cart4 fs-2"></i></a></td>
            </tr>

            {% endfor %}


        </table>

    </div>

    

</div>
{% endblock %}